<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yoga</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


	<script src='/javascripts/lib/jquery.js'></script>
	<script src='/javascripts/lib/underscore.js'></script>
	<script src='/javascripts/lib/backbone.js'></script>


	<script type="text/template" id="pose-list-template">
	<table>
  <%% collection.each(function(pose, index){  %>
  	<%% if (index % 5 == 0) { %>
  		<tr>
  	<%% } %>
  	<td>
    	<div class="pose <%%= pose.get("name") %>">
    	<img class="small-img" src="<%%= pose.get("img_url")%>">
	    <a href="#pose/<%%= encodeURIComponent(pose.get("name")) %>">
	    	<%%= pose.get('name') %>
	  	</a>
  		</div>
  	</td>
  	<%% if (index % 5 == 4) { %>
  		<tr>
  	<%% } %>
  <%% }) %>
  </table>
	</script>



	<script id='pose-template' type="template">
	 
	 	<div class='thepose'>
	 		<%%= name %>
	 	</div>

	 	<div class='sanskrit'>
	 		<%%= sanskrit.word %> <br>
	 		<%%= sanskrit.pronunciation %> <br>
	 		<ul>
	 			<%% for (var i = 0; i < sanskrit.meaning.length; i++){ %>
	 				<%%= sanskrit.meaning[i] %> <br>
	 			<%% } %>
		 	</ul>
	 	</div>

	 	<div id='template-div'>
	 		
	 		<h1 class="header" id='category-toggle'>Category</h1>
		 	<div class='toggle-div thecategory' style="display:none">
		 		<ul>
		 			<%% for (var i = 0; i < category.length; i++){ %>
		 				<li>
		 					<%%= category[i] %>
		 				</li>
		 			<%% } %>
		 		</ul>
		 	</div>

			<h1 class="header" id='description-toggle'>Description</h1>
		 	<div class='toggle-div thedescription' style="display:none">
		 		<%%= description %>
		 	</div>

		 	<h1 class="header" id='tip-toggle'>Beginner Tip</h1>
		 	<div class='toggle-div thetip' style="display:none">
		 		<%%= tip %>
		 	</div>

		 	<h1 class="header" id='benefits-toggle'>Benefits</h1>
		 	<div class='toggle-div thebenefits' style="display:none">
		 	<ul>
		 		<%% for (var i = 0; i < benefits.length; i++ ){ %>
		 			<li>		 		
		 				<%%= benefits[i] %>
		 			</li>
		 		<%% } %>
		 	</ul>
		 	</div>

		</div>

		 <img src='<%%= img_url %>'> 
		</script>

	<script id='chakra-template' type="template">
	 
	 	<div class='chakra-details'>
	 		<h1 style="color:<%%= color %>">Chakra: <%%= chakra %></h1>
	 		<h2>Sanskrit:<%%= chakrasanskrit %></h2> 
	 		<h3>Located:<%%= location %></h3>
	 		<h3>Element:<%%= element %></h3>
	 		<h3>Bija Mantra:<%%= bija_mantra %></h3>
	 		<h3>Energy Body:<%%= energy_body %></h3>
	 		<h3>Physical Imbalance:<%%= physical_imbalance %></h3>

	 	</div>


	 	<div id='chakra-div'>
	 		
	 		<h1 class="chakra-header" id='gem-toggle'>Gems</h1>
		 	<div class='toggle-div gem' style="display:none">
		 		<ul>
		 			<%% for (var i = 0; i < gem.length; i++){ %>
		 				<li>
		 					<%%= gem[i] %>
		 				</li>
		 			<%% } %>
		 		</ul>
		 	</div>

	 		<h1 class="chakra-header" id='foods-toggle'>Foods</h1>
		 	<div class='toggle-div foods' style="display:none">
		 		<ul>
		 			<%% for (var i = 0; i < foods.length; i++){ %>
		 				<li>
		 					<%%= foods[i] %>
		 				</li>
		 			<%% } %>
		 		</ul>
		 	</div>

	 		<h1 class="chakra-header" id='essential_oils-toggle'>Essential Oils</h1>
		 	<div class='toggle-div essential_oils' style="display:none">
		 		<ul>
		 			<%% for (var i = 0; i < essential_oils.length; i++){ %>
		 				<li>
		 					<%%= essential_oils[i] %>
		 				</li>
		 			<%% } %>
		 		</ul>
		 	</div>

	 		<h1 class="chakra-header" id='healing_exercises-toggle'>Exercises</h1>
		 	<div class='toggle-div healing_exercises' style="display:none">
		 		<ul>
		 			<%% for (var i = 0; i < healing_exercises.length; i++){ %>
		 				<li>
		 					<%%= healing_exercises[i] %>
		 				</li>
		 			<%% } %>
		 		</ul>
		 	</div>

		 </div>

		 <img src='<%%= image_url %>'> 

	</script>



	<script src='/javascripts/models/Pose.js'></script>
	<script src='/javascripts/models/Chakra.js'></script>
	<script src='/javascripts/collections/PoseCollection.js'></script>
	<script src='/javascripts/collections/ChakraCollection.js'></script>
	<script src='/javascripts/views/PoseListView.js'></script>
	<script src='/javascripts/views/ChakraListView.js'></script>
	<script src='/javascripts/views/PoseView.js'></script>
	<script src='/javascripts/views/ChakraView.js'></script>
	<script src='/javascripts/main.js'></script>

</head>	
<body>

	<%= yield %>

</body>
</html>