<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yoga</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">

	<script type="text/template" id="pose-list-template">
	<table>
  <%% collection.each(function(pose, index){  %>
  	<%% if (index % 5 == 0) { %>
  		<tr>
  	<%% } %>
  	<td>
    	<div class="pose <%%= pose.get("name") %>">
	    <a href="#pose/<%%= encodeURIComponent(pose.get("name")) %>">
	    	<%%= pose.get('name') %>
	    <img class="small-img" src="<%%= pose.get("img_url")%>">
	  	</a>
  		</div>
  	</td>
  	<%% if (index % 5 == 4) { %>
  		<tr>
  	<%% } %>
  <%% }) %>
  </table>
	</script>

	<script type="text/template" id="chakra-list-template">
  	<%% collection.each(function(chakra){  %>
    	<div class="chakra <%%= chakra.get("chakra") %>">
    	<a href="#chakra/<%%= encodeURIComponent(chakra.get("chakra")) %>">
    	<img class="smaller-img" src="<%%= chakra.get("image_url")%>"><br>
	    	<%%= chakra.get('chakra') %>
	  	</a>
  		</div>
  	<%% });  %>

	</script>



	<script id='pose-template' type="template">

	 
	 	<div class='thepose'>
	 		<%%= name %>
	 		<a href="#chakra/<%%= encodeURIComponent(chakra) %>"><span class='chakra-circle  <%%= color %>'></span></a>
	 	</div>

	 	<div class='sanskrit'>
	 		<%%= sanskrit.word %> <br>
	 		<%%= sanskrit.pronunciation %> <br>
	 		<ul>
	 			<%% for (var i = 0; i < sanskrit.meaning.length; i++){ %>
	 				<%%= sanskrit.meaning[i] %> <br>
	 			<%% } %>
		 	</ul>
	 	</div>
	 </div>

	 	<div id='template-div'>
	 		
	 		<h1 class="header" id='category-toggle'>Category</h1>
		 	<div class='toggle-div thecategory' style="display:none">
		 		<ul>
		 			<%% for (var i = 0; i < category.length; i++){ %>
		 				<li>
		 					<%%= category[i] %>
		 				</li>
		 			<%% } %>
		 		</ul>
		 	</div>

			<h1 class="header" id='description-toggle'>Description</h1>
		 	<div class='toggle-div thedescription' style="display:none">
		 		<%%= description %>
		 	</div>

		 	<h1 class="header" id='tip-toggle'>Beginner Tip</h1>
		 	<div class='toggle-div thetip' style="display:none">
		 		<%%= tip %>
		 	</div>

		 	<h1 class="header" id='benefits-toggle'>Benefits</h1>
		 	<div class='toggle-div thebenefits' style="display:none">
		 	<ul>
		 		<%% for (var i = 0; i < benefits.length; i++ ){ %>
		 			<li>		 		
		 				<%%= benefits[i] %>
		 			</li>
		 		<%% } %>
		 	</ul>
		 	</div>

		</div>

		 <img src='<%%= img_url %>'> 
		</script>





	<script id='chakra-template' type="template">


	 	<div class='thechakra'>
	 		<h2 style="color:<%%= color %>"><%%= chakra + " ... "%><%%= expression %></h2>
	 	</div>

	 
	 	<div class='chakra-details'>
	 	
	 		<h3 style="font-size: 20px"><%%= chakrasanskrit %></h3> 
	 		<h5><b>Located:</b><i><%%= " " + location %></i></h5>
	 		<h5><b>Element:</b><i><%%= " " + element %></i></h5>
	 		<h5><b>Bija Mantra:</b><i><%%= " " + bija_mantra %></i></h5>
	 		<h5><b>Energy Body:</b><i><%%= " " + energy_body %></i></h5>
	 		<h5><b>Physical Imbalance:</b><i><%%= " " + physical_imbalance %></i></h5>

	 	</div>

		<img class='chakra-pic' src='<%%= image_url %>'> 

	 	
	 	<div class='chakra-div'>
	 		
	 		<h1 class="chakra-header" id='gem-toggle'>Gems</h1>
		 	<div class='toggling gem' style="display:none">
		 		<ul>
		 			<%% for (var i = 0; i < gem.length; i++){ %>
		 				<li>
		 					<%%= gem[i] %>
		 				</li>
		 			<%% } %>
		 		</ul>
		 	</div>

	 		<h1 class="chakra-header" id='foods-toggle'>Foods</h1>
		 	<div class='toggling foods' style="display:none">
		 		<ul>
		 			<%% for (var i = 0; i < foods.length; i++){ %>
		 				<li>
		 					<%%= foods[i] %>
		 				</li>
		 			<%% } %>
		 		</ul>
		 	</div>

	 		<h1 class="chakra-header" id='essential_oils-toggle'>Essential Oils</h1>
		 	<div class='toggling essential_oils' style="display:none">
		 		<ul>
		 			<%% for (var i = 0; i < essential_oils.length; i++){ %>
		 				<li>
		 					<%%= essential_oils[i] %>
		 				</li>
		 			<%% } %>
		 		</ul>
		 	</div>

	 		<h1 class="chakra-header" id='healing_exercises-toggle'>Exercises</h1>
		 	<div class='toggling healing_exercises' style="display:none">
		 		<ul>
		 			<%% for (var i = 0; i < healing_exercises.length; i++){ %>
		 				<li>
		 					<%%= healing_exercises[i] %>
		 				</li>
		 			<%% } %>
		 		</ul>
		 	</div>

		 </div>

	</script>


	<script src='/javascripts/lib/jquery.js'></script>
	<script src='/javascripts/lib/underscore.js'></script>
	<script src='/javascripts/lib/backbone.js'></script>


	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>



	<script src='/javascripts/models/Pose.js'></script>
	<script src='/javascripts/models/Chakra.js'></script>
	<script src='/javascripts/collections/PoseCollection.js'></script>
	<script src='/javascripts/collections/ChakraCollection.js'></script>
	<script src='/javascripts/views/PoseListView.js'></script>
	<script src='/javascripts/views/ChakraListView.js'></script>
	<script src='/javascripts/views/PoseView.js'></script>
	<script src='/javascripts/views/ChakraView.js'></script>
	<script src='/javascripts/main.js'></script>

</head>	
<body>

	<%= yield %>

</body>
</html>