body {
	background-color: purple;
}

.pose {
	text-align: center;
	border: 3px solid black;
  margin: 5px;
}

.thepose {
	text-align: center;
	font-size: 36px;
	font-family: helvetica;
	border: 5px solid black;
}

.thepose .chakra-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.sanskrit {
	text-align: center;
}

#category-toggle {
	text-align: center;
	border: .25em solid black;
	background-color: white;
	height: 65px;
	width: 275px;
	line-height: -20px;
}

#tip-toggle {
	text-align: center;
	border: .25em solid black;
	background-color: white;
	height: 65px;
	width: 275px;
	line-height: -20px;
}

#benefits-toggle {
	text-align: center;
	border: .25em solid black;
	background-color: white;
	height: 65px;
	width: 275px;
	line-height: -20px;
}

#description-toggle {
	text-align: center;
	border: .25em solid black;
	background-color: white;
	height: 65px;
	width: 275px;
	line-height: -20px;
}

#template-div {
	float: right;
	margin-right: 65px;
}

.thecategory {
	width: 275px;
	right: 50px;
}

.thetip {
  width: 275px;
  right: 50px;
}

.thedescription {
	width: 275px;
	right: 50px;
}

.thebenefits {
	width: 275px;
	right: 50px;
}

.small-img {
  max-width: 100px;
  max-height: 100px;
}

#chakra-div {
  display: inline-block;
}

#gem-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;
}

#foods-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;
}

#essential_oils-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;  
}

#healing_exercises-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;  
}

/*#pic-div {
	float: left;
	margin-left: 65px;
}*/

.red {
  background-color: red; 
}

.orange {
  background-color: orange; 
}

.yellow {
  background-color: yellow; 
}

.green {
  background-color: green; 
}

.blue {
  background-color: blue; 
}

.indigo {
  background-color: purple; 
}

.violet {
  background-color: pink; 
}

img src {

}

