body {
	background-color: purple;
}

.pose {
	text-align: center;
	border: 3px solid black;
}

li.pose {
  cursor: pointer;
  font-size: 1.5em;
  opacity: 0.75;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  width: 50%;
  a {
    text-decoration: none;
    color: white;
  }
}

.header {
  height: 10em;
  .om {
    background: url('http://www.breakoutofthebox.com/OmSymbol.jpg') no-repeat;
    /*background-size: contain;
    height: 100%;
    margin-left: 1.6em;
    width: 16em;*/
  }
}

.nav {
  position: relative;
  top: -2em;
  li {
    display: inline-block;
    font-size: 1em;
    padding-left: 4.5em;
  }
  a {
    color: white;
    display:inline-block;
    text-decoration: none;
  }
  a:hover {
    color: darken(white, 20)
  }
}

.content-wrapper {
  margin: 0 auto;
  margin-top: -3em;
  width: 650px;
  h1 {
    text-align: center;
  }
  img {
    width: 70%;
    margin: 0 auto;
    margin-top: -2em;
  }
}

.thepose {
	text-align: center;
	font-size: 36px;
	font-family: helvetica;
	border: 5px solid black;
}

.sanskrit {
	text-align: center;
}

#category-toggle {
	text-align: center;
	border: .25em solid black;
	background-color: white;
	height: 65px;
	width: 275px;
	line-height: -20px;
}

#tip-toggle {
	text-align: center;
	border: .25em solid black;
	background-color: white;
	height: 65px;
	width: 275px;
	line-height: -20px;
}

#benefits-toggle {
	text-align: center;
	border: .25em solid black;
	background-color: white;
	height: 65px;
	width: 275px;
	line-height: -20px;
}

#description-toggle {
	text-align: center;
	border: .25em solid black;
	background-color: white;
	height: 65px;
	width: 275px;
	line-height: -20px;
}

#template-div {
	float: right;
	margin-right: 65px;
}

.thecategory {
/*	text-align: right;*/
	width: 275px;
	right: 50px;
}

.thetip {
/*	text-align: right;*/
	width: 275px;
	right: 50px;
}

.thedescription {
/*	text-align: right;*/
	width: 275px;
	right: 50px;
}

.thebenefits {
/*	text-align: right;*/
	width: 275px;
	right: 50px;
}

/*#pic-div {
	float: left;
	margin-left: 65px;
}*/

img src {

}

