/*body {
  background-color: purple;
}*/

/*body {
  background-image: url('http://www.breakoutofthebox.com/OmSymbol.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment:fixed;
  opacity: 0.2;
  z-index: -1;
}*/


.chakra {
  display: inline-block;
  width: 7.5em;
  margin-right: 20px;
  margin-left: 45px;
}

.title {
  text-align: center;
  padding: 10px;
}

.pose {
  text-align: center;
  border: 3px solid black;
  margin: 5px;
}

.thepose {
  text-align: center;
  font-size: 36px;
  font-family: helvetica;
  border: 8px solid black;
}

.thechakra {
  text-align: center;
  font-size: 36px;
  font-family: helvetica;
  font-weight: bold;
  padding: -2px;
  border: 8px solid black;
  margin-bottom: 10px;
}

.thepose .chakra-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.sanskrit {
  text-align: center;
  padding: 10px;
}

#category-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;
}

#tip-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;
}

#benefits-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;
}

#description-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;
}

#template-div {
  float: right;
  margin-right: 65px;
}

.chakra-details {
  margin-left: 50px;
  /* margin-right: 650px; */
  width: 500px;
  display: inline-block;
  float: left;
}

.chakra-pic {
  max-width: 150px;
  max-height: 150px;
  display: auto;
  margin: auto;
  margin-right: 70px;
}

.thecategory {
  width: 275px;
  right: 50px;
}

.thetip {
  width: 275px;
  right: 50px;
}

.thedescription {
  width: 275px;
  right: 50px;
}

.thebenefits {
  width: 275px;
  right: 50px;
}

.small-img {
  max-width: 100px;
  max-height: 100px;
}

.smaller-img {
  max-width: 60px;
  max-height: 60px;
}

.chakra-div {
  display: inline-block;
  float: right;
  margin-right: 119px;
  margin-top: 0px;
}

#gem-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;
}

#foods-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;
}

#essential_oils-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;  
}

#healing_exercises-toggle {
  text-align: center;
  border: .25em solid black;
  background-color: white;
  height: 65px;
  width: 275px;
  line-height: -20px;  
}

.gem {
  width: 275px;
  right: 50px;
}

.foods {
  width: 275px;
  right: 50px;
}

.essential_oils {
  width: 275px;
  right: 50px;
}

.healing_exercises {
  width: 275px;
  right: 50px;
}
/*#pic-div {
  float: left;
  margin-left: 65px;
}*/

.red {
  background-color: red; 
}

.orange {
  background-color: orange; 
}

.gold {
  background-color: gold; 
}

.green {
  background-color: green; 
}

.dodgerblue {
  background-color: dodgerblue; 
}

.mediumslateblue {
  background-color: mediumslateblue; 
}

.darkmagenta {
  background-color: darkmagenta; 
}

/*.location{
  font-size: 18px;
  font: italic;
}*/
img src {

}

